.banner-area{
    padding: 55px 0;
}

.carousel-item{
    padding: 70px 0;
}

.carousel-item img {
    height: 300px;
  }

.carousel-control-prev{
    display: none;
}

.carousel-control-next{
    display: none;
}

.carousel-indicators [data-bs-target] {
    height: 13px;
    width: 13px;
    background-color: gray;
    border-radius: 50%;
    margin: 10px;
  }
  
  .carousel-indicators .active {
    height: 13px;
    width: 13px;
    background-color: #2980b9;
  }

  .learnmoreBtn{
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: #2c3e50;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
  }

  .learnmoreBtn::before{
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 100%;
    left: 100%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #2980b9;
    transform-origin: center;
    transform: translate3d(-50%, 50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
  }

  .learnmoreBtn:hover {
    cursor: pointer;
  }
  
  .learnmoreBtn:hover::before {
    transform: translate3d(-50%, 50%, 0) scale3d(15, 15, 15);
  }

  @media only screen and (max-width: 600px) {
      .carousel-item img{
          width: 100%;
      }
  }